{% extends 'recipes/pages/base.html' %}
{% block content %}
<div class="main-content main-content-detail container">
    <header>
        <h1>Entre em Contato Conosco</h1>
    </header>
    <main>
        <section>
            <h2>Redes Sociais</h2>
            <ul>
                <li><a href="https://wa.me/123456789"><i class="fab fa-whatsapp"></i>
                        WhatsApp</a></li>
                <li><a href="https://www.instagram.com/user"><i class="fab fa-instagram"></i>
                        Instagram</a></li>
                <li><a href="https://github.com/user"><i class="fab fa-github"></i>
                        GitHub</a></li>
                <li><a href="https://linkedin.com/in/user"><i class="fab fa-linkedin"></i>
                        LinkedIn</a></li>
            </ul>
        </section>
    </main>
</div>
{% endblock content %}